.comment-card {
  border: 1px solid black;
  padding: 0px 5px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: lightgray;
  margin-top: 10px;
}

.comment-card > * {
  margin: 0;
}
